<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Vue.js</title>
</head>
<body>

    <div id="app">
        <p v-if="show">{{ message }}</p>
        <p v-else="show">{{ message2 }}</p>

        <p>Result from {{ int1 }} + {{ int2 }} = {{ result }}</p>
        <button v-on:click="sumProccess">Prosess</button>

        <input type="text" v-model="kilometers">
        <input type="text" v-model="meters">
    </div><br>

    <div id="form">
        <input type="text" v-model="message3">
        {{ message3 }}
    <br>
        <textarea cols="30" rows="10" v-model="textarea"></textarea>
    <br>
        <p style="white-space: pre-line;">{{ textarea }}</p>
    <br>
        <input type="radio" v-model="radiobutton" value="option1"> Option 1
    <br>
        <input type="radio" v-model="radiobutton" value="option2"> Option 2
    <br><br>
        Your choice is {{ radiobutton }}
    <br><br>
        Choice your favorite programming language
    <br><br>
        <select v-model="select" multiple>
            <option value="" disabled>choice programming language</option>
            <option value="Javascript">Javascript</option>
            <option value="php">PHP</option>
            <option value="c">C</option>
        </select>
    <br><br>
        Your favorite programming languange is {{ select }}
    <br>
        <ul>
            <li v-for="sel in select">{{ sel }}</li>
        </ul>
    </div> -->
<!-- 
    <div id="bind">
            <img v-bind:src="imgFile" width="500px" alt="">
        <br>
            <a v-bind:href="link">Link Google</a>
        <br>
            <p v-bind:style="styleFont">Color Font</p>
    </div> -->

    <!-- <div id="button">
        <button @click="message = 'The button has been clicked using v-on:click'">Click me</button>
        <button @click="showAlert">Show Alert</button>
        <br>
        {{ message }}
    </div><br>

    <div id="key">
        <label for="">Press Enter Key</label>
        <input type="text" v-on:keyup.enter=" message1 = 'You Pressing enter' ">
<br>
        <label for="">Press eny key</label>
        <input type="text"
                @keyup.esc="escKey"
        >
<br>
        {{ message1 }}
    </div><br>

    <div id="array2">
        <ul>
            <li>{{ vehicles[0] }}</li>
        </ul>
        <br>
        <ul>
            <li v-for="vehicle in vehicles">
                {{ vehicle }}
            </li>
        </ul>
        <br>

        <label for="">Add Vehicles</label>
        <input type="text" v-model="content">
        <button v-on:click="addVehicles">Add</button>
        <br>

        <ul>
            <li v-for="(vehicle, index) in vehicles">
                <button v-on:click="removeVehicles(index)">x</button>
                {{ vehicle }}
            </li>
        </ul>
    </div> -->
<!-- 
    <div id="array3">
        <ul>
            <li v-for="vehicle in vehicles">
                Type: {{ vehicle.type }},
                Brand: {{ vehicle.brand }},
                Color: {{ vehicle.color }}
            </li>
        </ul>
        <br>
        <ul>
            <li v-for="value in object">
                {{ value }}
            </li>
        </ul>
    </div> -->

    <!-- <div id="component">
        <greeting></greeting><br><br>
        <button-counter></button-counter>
    </div>

    <div id="component1">
        <blog-post v-for="post in posts" :key="post.id" :post="post">
            
        </blog-post>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/vendor/vue.js"></script>
</body>
</html>